@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
  
  body {
    @apply antialiased text-slate-600 bg-slate-50;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight text-slate-900;
  }
}

/* Scrollbar minimalista */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}